{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
{% comment %} css {% endcomment %}

<link rel="stylesheet" href="{% static 'index.css' %}">

    <title>konbit</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'clickup.svg' %}" alt="">
        </div>
    </header>
    <main>
        <div class="h1">Todo App</div>
       
        <form action="" method="post">
            {% csrf_token %}
            <h2>Sign Up</h2>
            {% for field in form  %}
                <p>
                    {% if field.errors %}
                        {% for error in field.error  %}
                            <li> {{ error }} </li>
                        {% endfor %}
                    {% endif %}
                    {{ field.label_tag}} {{ field}}
                </p>
            {% endfor %}
            <input type="submit" value="Register">
            </form>
        
    </main>
