{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
{% comment %} css {% endcomment %}
<link rel="stylesheet" href="{% static 'delete.css' %}">
    <title>konbit</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'clickup.svg' %}" alt="">
        </div>
    </header>
    <main>
        <h1>Todo App</h1>
        <div class="delete-task">
            <form name="taskForm" method="POST">
                {% csrf_token %}
               <p>Are you sure you want to delete this task <span>{{ task.title }}</span> ?</p>

               <div>
                   <button class="btn btn-add" type="submit">Yes</button>
                   <a class="btn btn-add" href="{% url 'index' %}" >Cancel</a>
                </div>
                {% comment %} <a href=""></a> {% endcomment %}
            </form>
        </div>
       
    </main>

{% comment %} js file {% endcomment %}

{% comment %} <script src="{% static 'todo.js' %}"></script> {% endcomment %}
</body>
</html>